.card-category {
  height: 400px;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-category h2 {
  font-size: 40px;
  text-shadow: 0 0 8px rgb(0,0,0,0.3);
}

.card-product {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 16px rgb(0 0 0 / 10%);
  border-radius: 4px;
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 4px 0px 0px 4px;
  margin-right: 16px;
}

.card-product h3, .card-product p {
  margin: 0;
}

.card-trip {
  background-color: white;
  box-shadow: 0 0 16px rgb(0 0 0 / 10%);
  margin-bottom: 16px;
}

.card-trip img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-trip-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
}

.card-trip-info h2, .card-trip-info p {
  margin: 0;
}





